<div class="container-fluid careers-works">
    <div class="nav-bar">
        <app-navbar></app-navbar>
    </div>
    <mat-grid-list cols="4" rowHeight="100px" gutterSize="15px">
        <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'blueviolet'">A</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'dimgray'">A</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2" [style.background]="'whitesmoke'">B</mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'whitesmoke'">C</mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'currentcolor'">D</mat-grid-tile>
    </mat-grid-list>
</div>
