.landing-manage {
    .a {
        background-color: yellow;
        width: 300px;
        padding: 5px;
    }
    .b {
        background-color: greenyellow;
        width: 300px;
        padding: 5px;
    }
}