nav {
    position: fixed;
    width: 100%;
    .navbar-nav {
        display: flex;
        color: #000;
        flex: 1 1 auto;
        flex-flow: row wrap;
        justify-content: center;
        .nav-item {
            color: #000;
            margin-left: 10px;
            @media (max-width: 600px) {
                display: none;
            }
        }
        .nav-link {
            color: rgb(107, 102, 102);
        }
        .mat-menu {
            background-color: aqua;
            button {
                .nav-link {
                    color: rgb(107, 102, 102);
                }
            }
        }
        li.selected {
            a {
                color: coral;
                background-color: rgb(172, 147, 147);
            }
        }
    }
    span {
        .btn-danger {
            color: #fff;
            box-shadow: 0px 0px 10px rgb(177, 174, 174);
            background-color: coral;
            border-color: coral;
            border-radius: 20px;
            width: 120px;
            margin-right: 30px;
        }
    }
}
