<nav class="navbar navbar-expand-sm bg-light">
    <span>
    <a class="navbar-brand"[routerLink]="" href="#">
      <img src="/assets/images/logo.svg" alt="Logo" style="width:120px;">
    </a>
  </span>
    <ul class="navbar-nav col-md">
        <li class="nav-item" *ngFor="let navList of navbarlist; let i = index" [class.selected]="navList.listName === listSelected" (click)="onSelected(navList.listName)">
            <a class="nav-link" routerLink="{{navList.url}}">{{navList.listName}}</a>
        </li>
    </ul>
    <span>
      <button type="button" class="btn btn-danger">get start</button>
    </span>

    <!-- responsive menu -->
    <div class="navbar-nav d-xs-block d-sm-block d-md-none">
        <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon" data-toggle="collapse" data-target="#collapsibleNavbar">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="mat-menu">
            <button mat-menu-item>
               <a class="nav-link"[routerLink]="['/landing']">Pricing</a>
          </button>
            <button mat-menu-item>
              <a class="nav-link" [routerLink]="['/pages']">Products</a>
          </button>
            <button mat-menu-item>
              <a class="nav-link" [routerLink]="['/sunnysides']">About Us</a>
          </button>
            <button mat-menu-item>
              <a class="nav-link" [routerLink]="['/careers']">Carrer</a>
          </button>
            <button mat-menu-item>
              <a class="nav-link" [routerLink]="">Community</a>
          </button>

        </mat-menu>
        <!-- Navbar links -->
        <div class="collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link3</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>