<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="col-md-12 header-footer">
                <img src="/assets/images/logo.svg">
            </div>

            <div class="col-md-12">
                <span>
                <img src="/assets/images/Facebook_icon.png">
                </span>
                <span>
                <img src="/assets/images/youtube.png">
               </span>
                <span>
                <img src="/assets/images/Twitter-featured.png">
              </span>
                <span>
                <img src="/assets/images/pinterest-icon.png">
              </span>
                <span>
                <img src="/assets/images/pinterest.png">
              </span>
            </div>

        </div>

        <div class="col-md-3 list">
            <ul>
                <li> Home </li>
                <li> Pricing</li>
                <li> Product</li>
                <li> About Us</li>
            </ul>
        </div>

        <div class="col-md-3 list">
            <ul>
                <li> careers </li>
                <li> community</li>
                <li> Provacy Policy</li>
            </ul>
        </div>

        <div class="col-md-3">
            <form action="">
                <input type="text" placeholder="Updates in your inbox">
                <button type="button" class="btn btn-danger">Go</button>
            </form>
        </div>
    </div>
</div>
